body {
    background-color: #290025;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
}

.text-box {
    width: 70%;
    padding: 5% 15%;
}

.head {
    margin-bottom: 30px;
}

.heading {
    font-size: 3em;
    text-align: center;
}

.info, .info2 {
    font-size: 1.2em;
    text-align: justify;
}

.info2 {
    padding-top: 20px;
}
