@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
a{
    text-decoration:none;
    color:#290025;
    font-size:20px;
}

a:hover{
    color:rgb(204, 48, 204);
}

.title{
    font-family:"Poppins";
    font-weight:bold;
    font-size:28px;
}

.full{
    padding:5rem;
    
}

.section{
    padding-bottom:3rem;
    font-family:"Poppins";
    font-size:25px;
}

.bdofscheme{
    padding:5rem;
    align-items:center;
}

.titleforscheme{
    font-family:"Poppins";
    font-weight:bold;
    font-size:45px;
    padding-bottom:2rem;
}

.paragraph{
    font-size:25px;
}