
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


body {
    font-family: "Poppins", sans-serif;
    color: #333; 
    background-color: #f8f8f8; 
}

a {
    text-decoration: none;
    color: #82008a; 
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #cc30cc; 
}


.title {
    font-weight: bold;
    font-size: 28px;
    color: #4c4c4c; 
}


.full {
    padding: 5rem;
}

.section {
    padding-bottom: 3rem;
    font-size: 25px;
    color: #333; 
}

.bdofscheme {
    padding: 5rem;
    display: flex;
    align-items: center;
}


.titleforscheme {
    font-weight: bold;
    font-size: 45px;
    padding-bottom: 2rem;
    color: #6a0572; 
}

.paragraph {
    font-size: 25px;
    color: #4c4c4c; 
}

