.contact{
    padding-top:2rem;
    font-size:40px;
    font-weight:bold;
    padding-bottom:2rem;
}

.para{
    font-size:30px;
}

.whole{
    align-items:center;
    padding:5rem;
}

body{
    color:white;
    background-color:#250029;
}