@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
  justify-items: center;
  text-align: center;
  background-color: white;
}
header{
  background-color: #290025;
  color:white;
  text-align:center;
  font-family: "Poppins";
  font-size: 1rem;
  padding: 1rem;
  border-radius:20px;
  border-radius:20px;

}
.sign-in-button{
  background-color: #fcfce9;
  color: #03045e;
  border:none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-style: aries;
  cursor: pointer;
  transition: background-color 0.3 ease;
  float:right;
}
.civics-text{
  font-size: 50px;
  padding-top: 2px;
}
.tagline{
  font-size: 25px;
  padding-top: 3px;
}
.find-your-scheme{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #290025;
  color: #fff8f0;
  font-size: 1rem;
  font-style: aries;
  padding: 1rem 2rem;
  margin: 0 auto;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3 ease;
}
button:hover{
  color: #150013;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #dddde3;

}
.svg-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line if there's not enough space */
}
.svg-box{
  display: flex; 
  display: inline-block;
  margin: 10px;      
  border:none;
  border-radius: 20px;
  font-weight: 6000px;
  overflow: hidden;
  margin-top: 30px;
  
} 
.svg-box:hover{
  cursor: pointer;
  background-color: #cfcfd3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes bounceonce {
0%, 20%, 50%, 80%, 100% {
transform: translateY(0);
}
40% {
transform: translateY(-20px);
}
60% {
transform: translateY(-10px);
}
}


.svg-bounceonce {
 animation: bounceOnce 1s;
 transform-origin: center bottom;
  animation-fill-mode: forwards; /* Keeps the element in the final state of the animation */
}
.heading{
    font-size: 50px;
    text-align: center;
    }

   .head{
    margin-bottom:30px;
   }
   .info{
    font-size:27px;
    text-align:center;
  }
  .info2{
    padding-top:20px;
    font-size:27px;
    text-align:center;
  }

  .text-box{
    width:50%;
    padding-left:25%;
  }

  a{
    text-decoration:none;
    color:#290025;
    font-size:20px;
  }

  a:hover{
    color:rgb(232, 96, 232);
    cursor:pointer;
  }
    
  
