<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="full">
            <div class="section">
        <div class="title">SCHEMES FOR WOMEN:</div>
        <a href="{{url_for('womann',index=1)}}">Women's Education Empowerment Scheme</a><br>
        <a href="{{url_for('womann',index=2)}}">Maternal Healthcare Support</a><br>
        <a href="{{url_for('womann',index=3)}}">Women's Entrepreneurship Development</a><br>
        <a href="{{url_for('womann',index=4)}}">Gender Equality in the Workplace</a><br>
        <a href="{{url_for('womann',index=5)}}">Rural women involved in agriculture or cottage industries </a><br>
        <a href="{{url_for('womann',index=6)}}">Women''s Health Awareness Program</a><br>
        <a href="{{url_for('womann',index=7)}}">Skill Development for Single Mothers</a><br>
        <a href="{{url_for('womann',index=8)}}">Women in Science Scholarship</a><br>
        <a href="{{url_for('womann',index=9)}}">Domestic Violence Support Helpline</a><br>
        <a href="{{url_for('womann',index=10)}}">Women''s Empowerment in Agriculture</a><br>
            </div>
            <div class="section">
                <div class="title">SCHEMES FOR TRANSGENDER:</div>
                <a href="{{url_for('transs',index=1)}}">Transgender Education Scholarship</a><br>
                <a href="{{url_for('transs',index=2)}}">Healthcare Equality Program</a><br>
                <a href="{{url_for('transs',index=3)}}">Transgender Employment Support</a><br>
                <a href="{{url_for('transs',index=4)}}">Housing Rights for Transgender Individuals</a><br>
                <a href="{{url_for('transs',index=5)}}">Transgender Cultural Empowerment Grant</a><br>
                <a href="{{url_for('transs',index=1)}}">Transgender Mental Health Support</a><br>
                <a href="{{url_for('transs',index=2)}}">Transgender Entrepreneurship Development</a><br>
                <a href="{{url_for('transs',index=3)}}">Legal Aid for Transgender Rights</a><br>
                <a href="{{url_for('transs',index=4)}}">Transgender Sports Inclusion Program</a><br>
                <a href="{{url_for('transs',index=5)}}">Transgender Skill Development in Arts</a><br>
                    </div>
        
                     <div class="section">
                        <div class="title">SCHEMES FOR STUDENTS:</div>
                        <a href="{{url_for('studentss',index=1)}}">Education for All</a><br>
                        <a href="{{url_for('studentss',index=2)}}">STEM Scholarship Program</a><br>
                        <a href="{{url_for('studentss',index=3)}}">Skill Development for Students</a><br>
                        <a href="{{url_for('studentss',index=4)}}">Digital Literacy Initiative</a><br>
                        <a href="{{url_for('studentss',index=5)}}">Environmental Awareness Campaign</a><br>
                        <a href="{{url_for('studentss',index=1)}}">Student Health and Wellness Program</a><br>
                        <a href="{{url_for('studentss',index=2)}}">Art and Culture Scholarships</a><br>
                        <a href="{{url_for('studentss',index=3)}}">Sports Development Initiative</a><br>
                        <a href="{{url_for('studentss',index=4)}}">Community Service Learning</a><br>
                        <a href="{{url_for('studentss',index=5)}}">Entrepreneurship Development for Students</a><br>
                              </div>
                              <div class="section">
                        <div class="title">SCHEMES FOR FARMERS:</div>
                        <a href="{{url_for('farmerr',index=1)}}">Crop Insurance Program</a><br>
                        <a href="{{url_for('farmerr',index=2)}}">Modern Agricultural Equipment Subsidy</a><br>
                        <a href="{{url_for('farmerr',index=3)}}">Soil Health Improvement Initiative</a><br>
                        <a href="{{url_for('farmerr',index=4)}}">Drought-Resistant Crop Development</a><br>
                        <a href="{{url_for('farmerr',index=5)}}">Organic Farming Promotion</a><br>
                        <a href="{{url_for('farmerr',index=1)}}">Water Conservation Grants</a><br>
                        <a href="{{url_for('farmerr',index=2)}}">Market Linkage and Export Support</a><br>
                        <a href="{{url_for('farmerr',index=3)}}">Livestock Health and Vaccination Program</a><br>
                        <a href="{{url_for('farmerr',index=4)}}">Agricultural Extension Services</a><br>
                        <a href="{{url_for('farmerr',index=5)}}">Farmer's Market Infrastructure Development</a><br>
                              </div>
                    </div>
    </body>
</html>
