<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="/static/css/contactus.css">
</head>
<body>
    <div class="whole">
        <div class="contact">Welcome to Civicsift!</div>
        <div class="para">We're thrilled to connect with you.
        For any queries and clarifications our dedicated team is here to help. 
        For immediate assistance, you can contact us
        via email at civicsift@gmail.com or give us a call at (555) 123-4567.
        Your satisfaction is our priority, and we look forward to hearing from you and
        providing the support you need. Thank you for choosing Civicsift!
    </div>
    </div>
</body>
</html>