<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Information Form</title>
  <link rel="stylesheet" href="details.css">

</head>
<body>

   
  <form action="/submit_form" method="POST">
    <div class="personal-details">
        <p class="detail-heading">ENTER DETAILS:</p>
      <label class="title"><b>Gender:</b></label>
      <div>
        <label><div class="filter">
          <input type="radio" name="gender" value="male"> Male</div>
        </label>
        <label><div class="filter">
          <input type="radio" name="gender" value="female"> Female</div>
        </label>
        <label><div class="filter">
          <input type="radio" name="gender" value="transgender"> Transgender</div>
        </label>
      </div>
      <br>

      <label class="title"><b>Caste:</b></label>
      <div>
        <label><div class="filter">
          <input type="radio" name="caste" value="obc"> OBC</div>
        </label>
        <label><div class="filter">
          <input type="radio" name="caste" value="general"> General</div>
        </label>
        <label><div class="filter">
          <input type="radio" name="caste" value="sc_st"> SC/ST</div>
        </label>
      </div>
      <br>

      <label class="title"><b>Income Level:</b></label>
      <div>
        <label><div class="filter">
          <input type="radio" name="income" value="apl"> APL</div>
        </label>
        <label><div class="filter">
          <input type="radio" name="income" value="bpl"> BPL</div>
        </label>
      </div>
      <br>
      <button class="bn" type="submit">Submit</button>
      
    </div>
  </form>

</body>
</html>
