<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
                <h2>Program Details:</h2>
                <ul>
                  <li><strong>Program Name:</strong> Crop Insurance Program</li>
                  <li><strong>Target Audience:</strong> Farmers with cultivated land</li>
                  <li><strong>Objective:</strong> Provides insurance coverage for crops</li>
                </ul>
              
                <h2>Benefits:</h2>
                <ul>
                  <li><strong>Compensation for Crop Losses:</strong> Financial support in case of crop losses due to natural disasters.</li>
                </ul>
              
                <h2>Eligibility Criteria:</h2>
                <ul>
                  <li>Open to farmers with actively cultivated land.</li>
                </ul>
              
                <h2>Program Period:</h2>
                <ul>
                  <li>Active from June 1, 2024, to May 31, 2025.</li>
                </ul>
              
                <p>Participation during this period provides farmers with insurance coverage for their crops, ensuring compensation for losses incurred due to natural disasters, as facilitated by the Ministry of Agriculture.</p>
              
              </body>
              </html>