<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/database.css">
</head>
<body>
    <table class="table">
        <tr class="table__header">
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in dataF %}
        <tr class="table__row">
            {% for cell in row %}
            <td class="table__cell">{{ cell }} </td>
            {% endfor %}
        </tr>
        {% endfor%}
        
    </table>
</body>
</html>
