<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
                <h2>Program Details:</h2>
                <ul>
                  <li><strong>Program Name:</strong> Modern Agricultural Equipment Subsidy</li>
                  <li><strong>Target Audience:</strong> Farmers in need of agricultural machinery</li>
                  <li><strong>Objective:</strong> Subsidizes the purchase of modern farming equipment</li>
                </ul>
              
                <h2>Benefits:</h2>
                <ul>
                  <li><strong>Reduced Cost of Agricultural Machinery:</strong> Subsidy to decrease the financial burden on farmers for purchasing modern farming equipment.</li>
                </ul>
              
                <h2>Eligibility Criteria:</h2>
                <ul>
                  <li>Open to farmers in need of agricultural machinery.</li>
                </ul>
              
                <h2>Program Period:</h2>
                <ul>
                  <li>Active from July 1, 2024, to December 31, 2024.</li>
                </ul>
              
                <p>Participation during this period provides farmers with a subsidy to reduce the cost of purchasing modern agricultural equipment, supporting the adoption of advanced farming practices, as facilitated by the Ministry of Agriculture.</p>
              
              </body>
              </html>