<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
                <h2>Program Details:</h2>
                <ul>
                  <li><strong>Program Name:</strong> Soil Health Improvement Initiative</li>
                  <li><strong>Target Audience:</strong> Farmers interested in soil health</li>
                  <li><strong>Objective:</strong> Promotes soil health and fertility improvement</li>
                </ul>
              
                <h2>Benefits:</h2>
                <ul>
                  <li><strong>Free Soil Testing:</strong> Access to complimentary soil testing services.</li>
                  <li><strong>Subsidies for Soil Amendments:</strong> Financial support for acquiring soil amendments to improve soil fertility.</li>
                </ul>
              
                <h2>Eligibility Criteria:</h2>
                <ul>
                  <li>Open to farmers actively interested in soil health improvement.</li>
                </ul>
              
                <h2>Program Period:</h2>
                <ul>
                  <li>Active from August 1, 2024, to July 31, 2025.</li>
                </ul>
              
                <p>Participation during this period provides farmers with free soil testing and subsidies for soil amendments, promoting soil health and fertility improvement, as facilitated by the Ministry of Agriculture.</p>
              
              </body>
              </html>