<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
                <h2>Program Details:</h2>
                <ul>
                  <li><strong>Program Name:</strong> Drought-Resistant Crop Development</li>
                  <li><strong>Target Audience:</strong> Farmers in drought-prone regions</li>
                  <li><strong>Objective:</strong> Encourages cultivation of drought-resistant crops</li>
                </ul>
              
                <h2>Benefits:</h2>
                <ul>
                  <li><strong>Seeds and Support:</strong> Provision of seeds and support for cultivating drought-resistant crop varieties.</li>
                </ul>
              
                <h2>Eligibility Criteria:</h2>
                <ul>
                  <li>Open to farmers in regions prone to drought.</li>
                </ul>
              
                <h2>Program Period:</h2>
                <ul>
                  <li>Active from September 1, 2024, to August 31, 2025.</li>
                </ul>
              
                <p>Participation during this period provides farmers in drought-prone regions with seeds and support to cultivate drought-resistant crop varieties, encouraging sustainable agriculture practices, as facilitated by the Ministry of Agriculture.</p>
              
              </body>
              </html>