<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CivicsSift</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <header>
    <button class="sign-in-button" ><a href="{{url_for('login')}}">LOGOUT</a></button>
    <h1 class="civics-text"><center>CivicSift</center></h1>
    <p class="tagline">Sift the Civic Wave</p>
  </header>
  <section>
    <h3><p><center>#GOVERNMENTSCHEMES / #SCHEMESFORYOU</center></p></h3>
    <button class="find-your-scheme"><a href="{{url_for('search')}}" style="color: white; text-decoration: none;">Find Schemes For You</a></button>
  </section>
  <br>
  <br>
  <br>
  <section class="svg-section">
    <svg class="svg-box" width="300" height="150">
      <rect width="100%" height="100%" fill="#fcfce9" />
      <text x="50%" y="50%"  fill="black" font-size="45" text-anchor="middle" dominant-baseline="middle">50+</text>
      <text x="50%" y="80%"  fill="black" font-size="20" text-anchor="middle" dominant-baseline="middle"><a href="catalog.html">Total Schemes</a></text>
    </svg>
    
    
  </section>
  <br>
  <br>
  <br>

  <section>
      
      <h3><p><center style="color:#565055;font-size: 1.25rem;line-height: 1.75rem;">How it works</center></p></h3>
     <h1><p><center style=" font-size: 2.25rem;
      line-height: 2.5rem;">Easy steps to apply<br>
      for Government Schemes</center></p></h1>

  </section>
  <br>
  <br>
  <br>
  <section>
    
  </section>
  <svg class="svg-box" width="245" height="150">
    <rect width="100%" height="100%" fill="#fcfce9" />
    <text x="50%" y="50%"  fill="black" font-size="25" text-anchor="middle" dominant-baseline="middle">Enter Details</text>
    <text x="50%" y="80%"  fill="black" font-size="15" text-anchor="middle" dominant-baseline="middle">Start by enetering your details</text>
  </svg>

  <svg class="svg-box" width="245" height="150">
    <rect width="100%" height="100%" fill="#fcfce9" />
    <text x="50%" y="50%"  fill="black" font-size="25" text-anchor="middle" dominant-baseline="middle">Search</text>
    <text x="50%" y="80%"  fill="black" font-size="15" text-anchor="middle" dominant-baseline="middle">Search engine will find the Schemes!</text>
  </svg>

  <svg class="svg-box" width="245" height="150">
    <rect width="100%" height="100%" fill="#fcfce9" />
    <text x="50%" y="50%"  fill="black" font-size="25" text-anchor="middle" dominant-baseline="middle">Select & Apply</text>
    <text x="50%" y="80%"  fill="black" font-size="15" text-anchor="middle" dominant-baseline="middle">Select & apply for the Schemes</text>
  </svg>

</section>
    


  <section>
    <a href="about.html">About us</a><br>
    <a href="contact.html">Contact us</a>
  </section>

  
    
  
</body>
</html>
