<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CivicsSift</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <header>
    <button class="sign-in-button" ><a href="{{url_for('login')}}">LOGOUT</a></button>
    <h1 class="civics-text">CivicsSift</h1>
    <p class="tagline">Sift the Civic Wave</p>
  </header>
  <section>
    <h3><p><center>#GOVERNMENTSCHEMES / #SCHEMESFORYOU</center></p></h3>
  </section>
  <br>
  <br>
  <br>
  <section class="svg-section">
    <svg class="svg-box" width="170" height="150">
      <rect width="100%" height="100%" fill="#fcfce9" />
      <text x="50%" y="50%"  fill="black" font-size="45" text-anchor="middle" dominant-baseline="middle">134+</text>
      <text x="50%" y="80%"  fill="black" font-size="20" text-anchor="middle" dominant-baseline="middle">Total Schemes</text>
    </svg>
    
    <svg class="svg-box" width="170" height="150">
      <rect width="100%" height="100%" fill="#fcfce9" />
      <text x="50%" y="50%"  fill="black" font-size="45" text-anchor="middle" dominant-baseline="middle">199+</text>
      <text x="50%" y="80%"  fill="black" font-size="20" text-anchor="middle" dominant-baseline="middle">Total Schemes</text>
    </svg>
  
    <svg class="svg-box" width="170" height="150">
      <rect width="100%" height="100%" fill="#fcfce9" />
      <text x="50%" y="50%"  fill="black" font-size="45" text-anchor="middle" dominant-baseline="middle">23+</text>
      <text x="50%" y="80%"  fill="black" font-size="20" text-anchor="middle" dominant-baseline="middle">Total Schemes</text>
    </svg>
  </section>
  <br>
  <br>
  <br>

  <section>
      
      <h3><p><center style="color:#565055;font-size: 1.25rem;line-height: 1.75rem;">How it works</center></p></h3>
     <h1><p><center style=" font-size: 2.25rem;
      line-height: 2.5rem;">Easy steps to apply<br>
      for Government Schemes</center></p></h1>

  </section>
  <br>
  <br>
  <br>
  <section>
    <svg class="svg-bounceonce" width="170" height="150">
      <rect width="100%" height="100%" fill="#fcfce9" />
      <text x="50%" y="50%"  fill="black" font-size="45" text-anchor="middle" dominant-baseline="middle">23+</text>
    </svg>
  </section>

  
    <div clas="division">
      <a href="about.html">About Us</a><br>

      <a href="#">Contact Us</a>
     
    </div>
    
  
</body>
</html>
