<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
  <header class="head">
    <button class="sign-in-button"><a href="{{url_for('home')}}" style="text-decoration: none;">Home</a></button>
    <h1 class="civics-text">CivicSift</h1>
  </header>
  <div class="wrapper">
    <div class="form-wrapper sign-in">
      <form method="POST">
        <h2>Login</h2>
        <div class="input-group">
          <input type="text" id="username" name="username" required>
          <label for="username">Username</label>
        </div>
        <div class="input-group">
          <input type="password" id="password1" name="password1" required>
          <label for="password1">Password</label>
        </div>
        <button class="bn" type="submit">Login</button>
        <div class="signUp-link">
          <p>Don't have an account? <a href="{{url_for(register.html)}}" class="signUpBtn-link">Sign Up</a></p>
        </div>
      </form>
    </div>
</html>