<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Information Form</title>
  <link rel="stylesheet" href="/static/css/search.css">

</head>
<body>

   
  <form action="/submit_form" method="POST">
    <div class="personal-details">
        <p class="detail-heading">ENTER DETAILS:</p>
      <label class="title"><b>Choose the type of schemes you want:</b></label>
      <div>
        <label><div class="filter">
          <input type="radio" name="type" value="female"> Female</div>
        </label>
        <label><div class="filter">
          <input type="radio" name="type" value="transgender"> Transgender</div>
        </label>
        <label><div class="filter">
          <input type="radio" name="type" value="Agriculture"> Agriculture</div>
        </label>
        <label><div class="filter">
          <input type="radio" name="type" value="Students"> Students</div>
        </label>
      </div>
      <br>
      <button class="bn" type="submit">Submit</button>
      
    </div>
  </form>

</body>
</html>