<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
                <h2>Program Details:</h2>
                <ul>
                  <li><strong>Program Name:</strong> STEM Scholarship Program</li>
                  <li><strong>Target Audience:</strong> Students pursuing Science, Technology, Engineering, and Mathematics (STEM) fields</li>
                  <li><strong>Objective:</strong> Encourages and supports students in STEM disciplines</li>
                </ul>
              
                <h2>Benefits:</h2>
                <ul>
                  <li><strong>Scholarship Funds:</strong> Financial support for students in STEM disciplines.</li>
                  <li><strong>Research Opportunities:</strong> Access to opportunities for research and academic growth.</li>
                  <li><strong>Industry Connections:</strong> Networking opportunities with professionals in STEM industries.</li>
                </ul>
              
                <h2>Eligibility Criteria:</h2>
                <ul>
                  <li>Open to students actively pursuing Science, Technology, Engineering, and Mathematics (STEM) fields.</li>
                </ul>
              
                <h2>Program Period:</h2>
                <ul>
                  <li>Active from July 1, 2024, to December 31, 2024.</li>
                </ul>
              
                <p>Participation during this period provides students in STEM disciplines with financial support, research opportunities, and industry connections, fostering their academic and professional growth in collaboration with the Ministry of Science and Technology.</p>
              
              </body>
              </html>