<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
                <h2>Program Details:</h2>
  <ul>
    <li><strong>Program Name:</strong> Environmental Awareness Campaign</li>
    <li><strong>Target Audience:</strong> Students interested in environmental conservation</li>
    <li><strong>Objective:</strong> Creates awareness and promotes sustainable practices</li>
  </ul>

  <h2>Benefits:</h2>
  <ul>
    <li><strong>Educational Workshops:</strong> Participation in workshops focusing on environmental conservation.</li>
    <li><strong>Tree Planting Campaigns:</strong> Engagement in campaigns to contribute to the environment by planting trees.</li>
  </ul>

  <h2>Eligibility Criteria:</h2>
  <ul>
    <li>Open to students actively interested in environmental conservation.</li>
  </ul>

  <h2>Program Period:</h2>
  <ul>
    <li>Active from October 1, 2024, to May 31, 2025.</li>
  </ul>

  <p>Participation during this period provides students with the opportunity to engage in educational workshops and tree planting campaigns, fostering environmental awareness and promoting sustainable practices, as facilitated by the Ministry of Environment.</p>

</body>
</html>