<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
<h2>Program Details:</h2>
  <ul>
    <li><strong>Program Name:</strong> Education for All</li>
    <li><strong>Target Audience:</strong> Students pursuing primary, secondary, or higher education</li>
    <li><strong>Objective:</strong> Provides financial assistance and support for educational expenses</li>
  </ul>

  <h2>Benefits:</h2>
  <ul>
    <li><strong>Scholarship Funds:</strong> Financial support for educational expenses.</li>
    <li><strong>Educational Resources:</strong> Access to resources to aid in academic success.</li>
    <li><strong>Mentorship Programs:</strong> Guidance and mentorship opportunities for academic and personal development.</li>
  </ul>

  <h2>Eligibility Criteria:</h2>
  <ul>
    <li>Open to students actively pursuing primary, secondary, or higher education.</li>
  </ul>

  <h2>Program Period:</h2>
  <ul>
    <li>Active from June 1, 2024, to May 31, 2025.</li>
  </ul>

  <p>Participation during this period provides students with financial assistance, educational resources, and mentorship opportunities, promoting inclusive education for all, as facilitated by the Ministry of Education.</p>

</body>
</html>