<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
                <h2>Program Details:</h2>
  <ul>
    <li><strong>Program Name:</strong> Transgender Cultural Empowerment Grant</li>
    <li><strong>Target Audience:</strong> Transgender individuals involved in promoting cultural awareness</li>
    <li><strong>Objective:</strong> Supports cultural projects and events that celebrate transgender diversity</li>
  </ul>

  <h2>Benefits:</h2>
  <ul>
    <li><strong>Grant Funding:</strong> Financial support for organizing cultural events, workshops, and artistic projects.</li>
  </ul>

  <h2>Eligibility Criteria:</h2>
  <ul>
    <li>Open to transgender individuals actively involved in promoting cultural awareness.</li>
  </ul>

  <h2>Program Period:</h2>
  <ul>
    <li>Active from October 1, 2024, to May 31, 2025.</li>
  </ul>

  <p>Participation during this period provides transgender individuals with the opportunity to receive grant funding for cultural projects and events that celebrate transgender diversity, as facilitated by the Ministry of Culture.</p>

</body>
</html>