<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
<h2>Program Details:</h2>
  <ul>
    <li><strong>Program Name:</strong> Transgender Education Scholarship</li>
    <li><strong>Target Audience:</strong> Transgender individuals pursuing higher education</li>
    <li><strong>Objective:</strong> Provides financial assistance for tuition and living expenses</li>
  </ul>

  <h2>Benefits:</h2>
  <ul>
    <li><strong>Scholarship Funds:</strong> Financial support for tuition and living expenses.</li>
    <li><strong>Mentorship Programs:</strong> Guidance and mentorship opportunities for transgender scholars.</li>
  </ul>

  <h2>Eligibility Criteria:</h2>
  <ul>
    <li>Open to transgender individuals actively pursuing higher education.</li>
  </ul>

  <h2>Program Period:</h2>
  <ul>
    <li>Active from June 1, 2024, to May 31, 2025.</li>
  </ul>

  <p>Participation during this period provides transgender individuals with crucial financial assistance and mentorship opportunities, fostering their pursuit of higher education, as facilitated by the Ministry of Education.</p>

</body>
</html>