<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
<h2>Program Details:</h2>
  <ul>
    <li><strong>Program Name:</strong> Healthcare Equality Program</li>
    <li><strong>Target Audience:</strong> All transgender individuals</li>
    <li><strong>Objective:</strong> Ensures access to gender-affirming healthcare services</li>
  </ul>

  <h2>Benefits:</h2>
  <ul>
    <li><strong>Medical Consultations:</strong> Access to healthcare professionals for medical advice.</li>
    <li><strong>Hormone Therapy:</strong> Provision of hormone therapy for gender affirmation.</li>
    <li><strong>Gender-Affirming Surgeries:</strong> Support for gender-affirming surgeries as needed.</li>
  </ul>

  <h2>Eligibility Criteria:</h2>
  <ul>
    <li>Open to all transgender individuals seeking gender-affirming healthcare services.</li>
  </ul>

  <h2>Program Period:</h2>
  <ul>
    <li>Active from July 1, 2024, to December 31, 2024.</li>
  </ul>

  <p>Participation during this period ensures that all transgender individuals have equal access to gender-affirming healthcare services, including medical consultations, hormone therapy, and gender-affirming surgeries, as provided by the Ministry of Health.</p>

</body>
</html>