<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            
            <div class="paragraph">
<h2>Program Details:</h2>
  <ul>
    <li><strong>Program Name:</strong> Transgender Employment Support</li>
    <li><strong>Target Audience:</strong> Unemployed transgender individuals</li>
    <li><strong>Objective:</strong> Assists in finding employment opportunities and skill development</li>
  </ul>

  <h2>Benefits:</h2>
  <ul>
    <li><strong>Job Placement Services:</strong> Support in finding suitable employment opportunities.</li>
    <li><strong>Vocational Training Programs:</strong> Skill development programs for increased employability.</li>
  </ul>

  <h2>Eligibility Criteria:</h2>
  <ul>
    <li>Open to unemployed transgender individuals seeking employment assistance.</li>
  </ul>

  <h2>Program Period:</h2>
  <ul>
    <li>Active from August 1, 2024, to July 31, 2025.</li>
  </ul>

  <p>Participation during this period provides unemployed transgender individuals with valuable support in finding employment opportunities and acquiring necessary skills, as facilitated by the Ministry of Labor.</p>

</body>
</html>