<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            <div class="titleforscheme">
                Women's Health Awareness Program
            </div>
            <div class="paragraph">
<h2>Program Details:</h2>
  <ul>
    <li><strong>Program Name:</strong> Women's Health Awareness Program</li>
    <li><strong>Target Audience:</strong> All women in the community</li>
    <li><strong>Objective:</strong> Promotes health awareness and preventive care</li>
  </ul>

  <h2>Benefits:</h2>
  <ul>
    <li><strong>Health Screenings:</strong> Access to regular health screenings for preventive care.</li>
    <li><strong>Workshops:</strong> Educational workshops on women's health and well-being.</li>
    <li><strong>Informational Campaigns:</strong> Awareness campaigns to disseminate crucial health information.</li>
  </ul>

  <h2>Eligibility Criteria:</h2>
  <ul>
    <li>Open to all women in the community.</li>
  </ul>

  <h2>Program Period:</h2>
  <ul>
    <li>Active from November 1, 2024, to November 30, 2024.</li>
  </ul>

  <p>Participation during this period empowers women in the community with valuable health knowledge and resources provided by the Ministry of Health.</p>

</body>
</html>
