<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            <div class="titleforscheme">
                Skill Development for Single Mothers
            </div>
            <div class="paragraph">
                <h2>Program Details:</h2>
                <ul>
                  <li><strong>Program Name:</strong> Skill Development for Single Mothers</li>
                  <li><strong>Target Audience:</strong> Single mothers and caregivers</li>
                  <li><strong>Objective:</strong> Provides training for employable skills</li>
                </ul>
              
                <h2>Benefits:</h2>
                <ul>
                  <li><strong>Vocational Training:</strong> Specialized training programs for skill development.</li>
                  <li><strong>Job Placement Assistance:</strong> Support in finding employment opportunities.</li>
                </ul>
              
                <h2>Eligibility Criteria:</h2>
                <ul>
                  <li>Open to single mothers and caregivers.</li>
                </ul>
              
                <h2>Program Period:</h2>
                <ul>
                  <li>Active from January 1, 2025, to January 31, 2025.</li>
                </ul>
              
                <p>Participation during this period empowers single mothers and caregivers with valuable skills and job placement assistance provided by the Ministry of Women and Child Development.</p>
              
              </body>
              </html>