<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
    <div class="bdofscheme">
        <div class="titleforscheme">
            Maternal Healthcare Support
        </div>
        <div class="paragraph">
            <h2>Program Details:</h2>
  <ul>
    <li><strong>Program Name:</strong> Maternal Healthcare Support</li>
    <li><strong>Target Audience:</strong> Pregnant women and new mothers</li>
    <li><strong>Objective:</strong> Ensures access to quality maternal healthcare services</li>
  </ul>

  <h2>Benefits:</h2>
  <ul>
    <li><strong>Prenatal Care:</strong> Comprehensive healthcare services during pregnancy.</li>
    <li><strong>Postnatal Care:</strong> Support and healthcare services for new mothers after childbirth.</li>
    <li><strong>Vaccinations:</strong> Immunization programs to safeguard the health of both mothers and newborns.</li>
  </ul>

  <h2>Eligibility Criteria:</h2>
  <ul>
    <li>Open to pregnant women and new mothers.</li>
  </ul>

  <h2>Application Period:</h2>
  <ul>
    <li>Active from July 1, 2024, to December 31, 2024.</li>
  </ul>

  <p>Enrollment during this period ensures access to crucial maternal healthcare support provided by the Ministry of Health.</p>


    </body>
</html>