<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            <div class="titleforscheme">
                Women in Science Scholarship
            </div>
            <div class="paragraph">
                <h2>Program Details:</h2>
                <ul>
                  <li><strong>Program Name:</strong> Women in Science Scholarship</li>
                  <li><strong>Target Audience:</strong> Female students pursuing STEM fields</li>
                  <li><strong>Objective:</strong> Encourages women to pursue careers in science</li>
                </ul>
              
                <h2>Benefits:</h2>
                <ul>
                  <li><strong>Scholarship Funds:</strong> Financial support for female students in STEM fields.</li>
                  <li><strong>Mentorship by Women Scientists:</strong> Guidance and mentorship from accomplished women in the scientific community.</li>
                </ul>
              
                <h2>Eligibility Criteria:</h2>
                <ul>
                  <li>Open to female students actively pursuing studies in STEM fields.</li>
                </ul>
              
                <h2>Program Period:</h2>
                <ul>
                  <li>Active from February 1, 2025, to February 28, 2025.</li>
                </ul>
              
                <p>Participation during this period provides female students in STEM fields with financial support and mentorship opportunities, fostering their growth in the scientific community, as facilitated by the Ministry of Science and Technology.</p>
              
              </body>
              </html>