<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
    <div class="bdofscheme">
        <div class="titleforscheme">
            Women's Education Empowerment
        </div>
        <div class="paragraph">
            <h2>Program Details:</h2>
            <p>
              The Ministry of Education is committed to supporting women in their pursuit of higher education. Through this program, the ministry provides scholarships and financial assistance to eligible candidates. The program covers tuition fees and includes valuable mentorship programs aimed at fostering academic success and personal development.
            </p>
          
            <h2>Benefits:</h2>
            <ul>
              <li><strong>Scholarships and Financial Assistance:</strong> Financial support to cover tuition fees and other educational expenses.</li>
              <li><strong>Tuition Fee Coverage:</strong> Complete coverage of tuition fees to alleviate the financial burden on women pursuing higher education.</li>
              <li><strong>Mentorship Programs:</strong> Access to mentorship programs designed to provide guidance and support throughout the academic journey.</li>
            </ul>
          
            <h2>Eligibility Criteria:</h2>
            <ul>
              <li>Be a woman actively pursuing higher education.</li>
              <li>Demonstrate a strong commitment to academic excellence.</li>
              <li>Have financial need requiring assistance for tuition fees.</li>
              <li>Enrolled in an accredited educational institution during the program cycle.</li>
            </ul>
          
            <h2>Application Period:</h2>
            <p>The current program cycle runs from June 1, 2024, to May 31, 2025.</p>
          
            <p>Aspiring candidates who meet the eligibility criteria are encouraged to apply during this period to avail themselves of the invaluable opportunities offered by the Ministry of Education.</p>
        </div>
    </div>
    </body>
</html>