<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            <div class="titleforscheme">
                Women's Empowerment in Agriculture
            </div>
            <div class="paragraph">
<h2>Program Details:</h2>
  <ul>
    <li><strong>Program Name:</strong> Women's Empowerment in Agriculture</li>
    <li><strong>Target Audience:</strong> Women involved in agriculture</li>
    <li><strong>Objective:</strong> Promotes sustainable farming practices and market access</li>
  </ul>

  <h2>Benefits:</h2>
  <ul>
    <li><strong>Training:</strong> Skill development programs for sustainable farming practices.</li>
    <li><strong>Agricultural Resources:</strong> Access to essential resources for improved agricultural productivity.</li>
    <li><strong>Market Linkages:</strong> Assistance in connecting women farmers to broader market opportunities.</li>
  </ul>

  <h2>Eligibility Criteria:</h2>
  <ul>
    <li>Open to women actively involved in agriculture.</li>
  </ul>

  <h2>Program Period:</h2>
  <ul>
    <li>Active from April 1, 2025, to April 30, 2025.</li>
  </ul>

  <p>Participation during this period empowers women in agriculture with valuable resources and support from the Ministry of Agriculture, fostering sustainable farming practices and market access.</p>

</body>
</html>