<!DOCTYPE html>
<html>
    <head>
        <title>catalog</title>
        <link rel="stylesheet" href="/static/css/catalog.css">
    </head>
    <body>
        <div class="bdofscheme">
            <div class="titleforscheme">
                Rural Women Development Fund
            </div>
            <div class="paragraph">
                <h2>Program Details:</h2>
  <ul>
    <li><strong>Program Name:</strong> Rural Women Development Fund</li>
    <li><strong>Target Audience:</strong> Rural women involved in agriculture or cottage industries</li>
    <li><strong>Objective:</strong> Supports rural women in economic activities</li>
  </ul>

  <h2>Benefits:</h2>
  <ul>
    <li><strong>Agricultural Training:</strong> Skill development programs tailored for rural women in agriculture.</li>
    <li><strong>Financial Aid:</strong> Support through financial assistance for economic empowerment.</li>
    <li><strong>Infrastructure Development:</strong> Initiatives to enhance rural infrastructure for economic activities.</li>
  </ul>

  <h2>Eligibility Criteria:</h2>
  <ul>
    <li>Open to rural women actively involved in agriculture or cottage industries.</li>
  </ul>

  <h2>Application Period:</h2>
  <ul>
    <li>Active from October 1, 2024, to May 31, 2025.</li>
  </ul>

  <p>Enrollment during this period provides rural women with crucial resources and support from the Ministry of Rural Development to enhance their economic activities and livelihoods.</p>

</body>
</html>